/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input {
  font-family: inherit;
}

:root {
  /* Text sizes */
  /* 1 rem = 16px since it is relative to the html base, which is 16px by default */
  --text-size-xs: 0.75rem; /* 12px */
  --text-size-sm: 0.875rem; /* 14px */
  --text-size-md: 1rem; /* 16px */
  --text-size-lg: 1.5rem; /* 24px */
  --text-size-xl: 2rem; /* 32px */
  --text-size-xxl: 4rem; /* 64px */

  --padding-sm: 0.25rem;
  --padding-md: 0.5rem;
  --padding-lg: 1rem;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --border-radius-s: 0.25rem;
  --border-radius-m: 0.5rem;
  --border-radius-lg: 0.75rem;

  /* Colors */
  --text-color-dark: #1F2937;
  --text-color-light: #F9FAF8;
  --text-muted-light: #cccccc;

  --color-btn-primary: #3882F6;
  --color-btn-primary-hover: #296ddb;
  --color-btn-primary-text: #fff;
  --color-btn-primary-border: #ffffff00;

  --color-btn-secondary: #F3F4F6;
  --color-btn-secondary-hover: #d0d1d1;
  --color-btn-secondary-text: #1F2937;
  --color-btn-secondary-border: #000;

  --color-bg-primary: #1F2937;
  --color-bg-section: #E5E7EB;
  --color-bg-alt: #ffffff;

}

html{
	font-family: 'Poppins', Arial, sans-serif;
}

body {
  font-size: var(--text-size-md);
  font-weight: var(--font-weight-normal);
  color: var(--text-color-dark);
  line-height: 1.6;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--color-bg-primary);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}


h1 {
  font-size: var(--text-size-xxl);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--text-size-xl);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--text-size-lg);
  font-weight: var(--font-weight-medium);
}

p {
  font-size: var(--text-size-md);
  font-weight: var(--font-weight-normal);
  margin-bottom: 1rem;
}

a {
  color: var(--text-color-light);
}

small {
  font-size: var(--text-size-sm);
  color: var(--text-muted-light);
}

.text-primary{
  color: var(--text-color-light);
}

.text-secondary{
  color: var(--text-color-dark);
}

.text-muted{
  color: var(--text-muted-light);
}

.btn{
  font-size: var(--text-size-md);
  padding: var(--padding-md) var(--padding-lg);
  border: none;
  border-radius: var(--border-radius-s);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.btn-primary{
  background-color: var(--color-btn-primary);
  color: var(--color-btn-primary-text);
  border: 1px solid var(--color-btn-primary-border);
}

.btn-primary:hover{
  background-color: var(--color-btn-primary-hover);
}

.btn-secondary{
  background-color: var(--color-btn-secondary);
  color: var(--color-btn-secondary-text);
  border: 1px solid var(--color-btn-secondary-border);
}

.btn-secondary:hover{
  background-color: var(--color-btn-secondary-hover);
}

header{
  padding: 0 1rem;
}

header nav{
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 1rem;
}

.hero{
  min-height: 100vh;
  height: auto;
}

.info{
  background-color: var(--color-bg-section);
}

footer{
  background-color: var(--color-bg-primary);
}

footer p{
  margin-bottom: 0;
  text-align: center;
}