/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button, input {
  font-family: inherit;
}

:root {
  /* Text sizes */
  /* 1 rem = 16px since it is relative to the html base, which is 16px by default */
  --text-size-xs: 0.75rem; /* 12px */
  --text-size-sm: 0.875rem; /* 14px */
  --text-size-md: 1rem; /* 16px */
  --text-size-lg: 1.5rem; /* 24px */
  --text-size-xl: 2rem; /* 32px */
  --text-size-3xl: 3rem; /* 48px */
  --text-size-4xl: 4.5rem; /* 72px */

  --padding-sm: 0.25rem;
  --padding-md: 0.5rem;
  --padding-lg: 1rem;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --border-radius-s: 0.25rem;
  --border-radius-m: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-pill: 50rem;

  /* Colors */
  --text-color-dark: #1F2937;
  --text-color-light: #F9FAF8;
  --text-muted-light: #cccccc;

  --color-btn-primary: #3882F6;
  --color-btn-primary-hover: #296ddb;
  --color-btn-primary-text: #fff;
  --color-btn-primary-border: #ffffff00;

  --color-btn-secondary: #F3F4F6;
  --color-btn-secondary-hover: #d0d1d1;
  --color-btn-secondary-text: #1F2937;
  --color-btn-secondary-border: #000;

  --color-btn-danger: #e91d1d;
  --color-btn-danger-hover: #a10b0b;
  --color-btn-danger-text: #fff;
  --color-btn-danger-border: #ffffff00;

  --color-bg-primary: #1F2937;
  --color-bg-section: #E5E7EB;
  --color-bg-alt: #ffffff;

}

html{
	font-family: 'Poppins', Arial, sans-serif;
}

body {
  font-size: var(--text-size-md);
  font-weight: var(--font-weight-normal);
  color: var(--text-color-dark);
  line-height: 1.6;
  background-color: var(--color-bg-primary);
  display: grid;
  grid-template-rows: auto 1fr auto; /* navbar, content, footer */
  min-height: 100vh;
}

.container {
  max-width: 95%;
  padding: 0 1rem;
  margin: 0 auto;
}


h1 {
  font-size: var(--text-size-3xl);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--text-size-lg);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--text-size-lg);
  font-weight: var(--font-weight-medium);
}

p {
  font-size: var(--text-size-md);
  font-weight: var(--font-weight-normal);
  font-family: 'Roboto', Arial, sans-serif;
  margin-bottom: 1rem;
}

a {
  color: var(--text-color-light);
}

small {
  font-size: var(--text-size-sm);
  color: var(--text-muted-light);
}

.text-primary{
  color: var(--text-color-light);
}

.text-secondary{
  color: var(--text-color-dark);
}

.text-muted{
  color: var(--text-muted-light);
}

.btn{
  font-size: var(--text-size-md);
  font-family: 'Roboto', Arial, sans-serif;
  padding: var(--padding-md) var(--padding-lg);
  border: none;
  border-radius: var(--border-radius-s);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

a.btn.btn-primary{
  text-decoration: none;
}

.btn-primary{
  background-color: var(--color-btn-primary);
  color: var(--color-btn-primary-text);
  border: 1px solid var(--color-btn-primary-border);
}

.btn-primary:hover{
  background-color: var(--color-btn-primary-hover);
}

.btn-secondary{
  background-color: var(--color-btn-secondary);
  color: var(--color-btn-secondary-text);
  border: 1px solid var(--color-btn-secondary-border);
}

.btn-secondary:hover{
  background-color: var(--color-btn-secondary-hover);
}

.btn-danger{
  background-color: var(--color-btn-danger);
  color: var(--color-btn-primary-text);
  border: 1px solid var(--color-btn-danger-border);
}

.btn-danger:hover{
  background-color: var(--color-btn-danger-hover);
}

header nav{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Background image on hero */
.hero{
  min-height: 100vh;
  height: auto;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("assets/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-subtext{
  width: clamp(200px, 100%, 450px);
}

.info{
  background-color: var(--color-bg-section);
  padding: 2rem 0;
}

.info h2{
  /* Header in the info section */
  text-align: center;
  font-size: var(--text-size-3xl);
  /* We put a black line underneath the text */
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  text-decoration-color: var(--color-bg-primary);
}

.info .subheader{
  /* Clamp gives a max width on the text underneath the header */
  width: clamp(350px, 40%, 600px);
  margin: 0 auto; /* ensures it stays centered */
  margin-bottom: 2rem;
}

/* These are the statistics cards */
.cards{
  display: flex; 
  flex-wrap: wrap; 
  gap: 1rem;
}

.card{
  /* Each card wants to be at least 200px wide */
  flex: 1 1 200px; 
  text-align: center; 
  padding: 1.5rem; 
  border-radius: var(--border-radius-lg);
}
div.card.information{
  background-color: var(--color-bg-alt);
  box-shadow: 1px 1px 0.75rem rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.15s ease;
}
div.card.information:hover{
  box-shadow: 1px 1px 0.75rem rgba(0, 0, 0, 0.25);
}
div.card.information h3{
  font-size: var(--text-size-lg);
  font-weight: var(--font-weight-bold);
}
div.card.info p{
  font-size: var(--text-size-md);
}
/* These are the icons taken from boxicons.com */
.icon{
  font-size: var(--text-size-xl); 
  margin-bottom: 0.5rem;
}

footer{
  background-color: var(--color-bg-primary);
}

footer p{
  margin-bottom: 0;
  text-align: center;
}

/* Table styling */
.table-shell{
  border-radius: 0.75rem;
  overflow: hidden;
}
.table-scroll{
  width: 100%;
  max-height: 80vh;
  overflow-x: auto;
  overflow-y: auto;
}
.table-responsive{
  width: 100%;
  background-color: var(--color-bg-alt);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-collapse: collapse;
}
.table-responsive th, .table-responsive td{
  border: 1px solid rgba(0,0,0,0.2);
  white-space: nowrap;
  padding: 0.75rem;
  text-align: left;
}
.table-responsive thead a{
    color: var(--color-bg-primary);
    text-decoration: none;
}
.table-responsive thead th{
  position: sticky;
  top: -1px;
  z-index: 2;
  background-color: #dbdbdb;
  border-top: 1px solid rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(0,0,0,.3);
  box-shadow: 0 2px 3px rgba(0,0,0,.35);
}
.table-responsive thead tr{
  background-color: rgb(230, 230, 230);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
.table-responsive tbody tr:nth-child(odd){
  background-color: rgba(0,0,0,0.05);
}
.table-responsive tbody tr:nth-child(odd):hover{
  background-color: rgba(0,0,0,0.3);
}
.table-responsive tbody tr:nth-child(even):hover{
  background-color: rgba(0,0,0,0.2);
}

/* Form styling */
form{
  margin-bottom: 2rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 0;
}

form h3, form h2, form h4{
  text-align: center;
}

form > *{
  width: 90%;
  margin: 0 auto;
}

form > span {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

form input, form textarea{
  border-radius: 8px;
  height: 3rem;
  padding: 0.75rem;
}

form textarea{
  resize: vertical;
}

form input:focus,
form input:active, 
form textarea:focus,
form textarea:active{
  outline: none;
}

.form-light{
  background-color: var(--color-bg-alt);
}

.form-light input, .form-light  textarea{
  border: 1px solid var(--color-bg-primary);
}

.form-light input[type=submit]{
  border: 1px solid var(--color-bg-alt);
}

.form-light label, .form-light h3{
  color: var(--color-bg-primary);
}

.form-dark{
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.85);
}

.form-dark input,
.form-dark textarea {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--color-bg-alt);
}

.form-dark input:focus,
.form-dark input:active,
.form-dark textarea:focus,
.form-dark textarea:active{
  outline: 1px solid #4a6283;
  box-shadow: 0 0 8px 3px #4a628360;
}

.form-light button:last-child,
.form-dark button:last-child {
  margin-top: 1rem;
}

.form-search{
  position: relative;
  margin-bottom: 1rem;
}
.form-search input{
  width: 100%;
  height: 3rem;
  padding-right: 6rem;
  padding-left: 1rem;
  border: none;
  color: rgba(0,0,0,0.6);
  font-size: 1rem;
  border-radius: 0.5rem;
}
.form-search input:focus{
  outline: none;
  color: black;
}
.form-search button{
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  height: 2.5rem;
  width: 5.5rem;
}
.btn-search{
  background-color: transparent;
}
.btn-search:hover{
  transform: scale(1.1);
}
.btn-search:active{
  transform: scale(0.95);
}

.login{
  height: 100%;
}

@media (min-width: 576px) {
  header nav{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  nav ul{
    flex-direction: row;
    gap: 1rem;
  }

  form{
    width: clamp(300px, 80%, 600px);
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container{
    max-width: 90%;
    margin: 0 auto;
  }

  h1{
    font-size: var(--text-size-4xl);
  }
  h2{
    font-size: var(--text-size-3xl);
  }

  .form-search{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  .container{
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

@media (min-width: 1400px) {
  .container{
    max-width: 1400px;
  }
}
