{% extends "user/layout.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<section class="hero text-primary">
    <h1>My Flask Web page</h1>
    <h2>This will become a nice bank app.</h2>
    <p>This is the content of the index page!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur aut laboriosam quis, vero dicta natus culpa voluptas fuga dolorem, deserunt esse, dolore atque. Ipsa, similique. Commodi ut dolore illo rem.</p>
    <button class="btn btn-primary">primary button</button>
    <button class="btn btn-secondary">secondary button</button>
</section>
{% endblock %}